<div class='title'>Company Values</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_values.each do |company_value| %>
      <tr>
        <td><%= company_value.title %></td>
        <td><%= company_value.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "Edit", edit_admins_company_value_path(company_value.id,@company_value) %></td>
        <td><%= link_to "Destroy", admins_company_value_path(company_value.id,@company_value), method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "New Company Value", new_admins_company_value_path, class: "button is-primary" %>