<%= form_with(model: [:admins, employee]) do |f| %>
  <% if employee.errors.any? %>
    <div id="error_explanation notification is-warning">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>
      <ul>
        <% employee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email, class:'label' %>
    <div class='control'>
      <%= f.email_field :email, value: employee.email, autofocus: true, autocomplete: "email", class:'input' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :number_of_available_kudos, class:'label' %>
    <div class='control'>
      <%= f.number_field :number_of_available_kudos, value: employee.number_of_available_kudos, autofocus: true, class:'input'  %>
    </div>
  </div>
  <div class="field">
    <%= f.label :password, class:'label' %>
    <div class='help'>leave blank if you don't want to change it</div>
    <div class='control'>
      <%= f.password_field :password, autocomplete: "new-password", class:'input' %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>
  <div class="actions container">
    <%= f.submit 'Update', class:'button is-primary' %>
  </div>
<% end %>
