<div class='card'>
  <div class='card-header has-background-primary'>
    <div class='card-header-title'>
      <%= employee.email %>
    </div>
  </div>
  <div class='card-content has-background-primary-light'>
    Avaiable Kudos:
    <div class='card-header-title'>
      <%= employee.number_of_available_kudos %>
    </div>
    Created at:
    <div class='card-header-title'>
      <%= employee.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </div>
    <% if employee.orders.any?%>
    Orders:
    <div class='card-header-title'>
      <%= render '/admins/orders/index' , orders: employee.orders.ordered_by_status%>
    </div>
  <% else %>
    Employee hasn't made any order yet
  <% end %>
  </div>
</div>
<div class='columns is-vcentered mt-1 has-text-centered'>
  <%= link_to 'Edit', edit_admins_employee_path(employee), class:'column' %>
  <%= link_to 'Back', admins_employees_path, class:'column' %>
</div>
