<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation notification is-warning">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Reward:
    <div class='card-header-title'>
      <%= reward.title %>
    </div>
  Reward description:
    <div class='card-header-title'>
      <%= reward.description %>
    </div>
  Reward price:
    <div class='card-header-title'>
      <%= reward.price %>
    </div>
  <div class="field">
    <div class='control'>
      <%= form.hidden_field :reward_id, value: order.reward.id, class:'input', readonly: true%>
    </div>
  </div>

  <div class="actions container">
    <%= form.submit class:'button is-primary' %>
  </div>
<% end %>
