<%= form_with(model: order_form, url: orders_path) do |form| %>
  <% if order_form.errors.any? %>
    <div id="error_explanation notification is-warning">
      <h2><%= pluralize(order_form.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Reward:
  <div class='card-header-title'>
    <%= reward.title %>
  </div>
  Reward description:
  <div class='card-header-title'>
    <%= reward.description %>
  </div>
  Reward price:
  <div class='card-header-title'>
    <%= reward.price %>
  </div>
  Delivery method:
  <div class='card-header-title'>
    <%= reward.delivery_method %>
  </div>
  <% if reward.post? %>
    <% if employee.addresses.any? %>
      <div class="field">
        <%= form.label :address_id, 'Delivery addresses', class: 'label' %>
        <div class="select is-primary">
          <%= form.collection_select :address_id, employee.addresses, :id, :full_address, prompt: 'New Address...' %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :street, class:'label ' %>
      <div class='control'>
        <%= form.text_field :street, class:'input ' %>
      </div>
    </div>
    <div class="field">
      <%= form.label :postal_code, class:'label' %>
      <div class='control'>
        <%= form.text_field :postal_code, class:'input' %>
      </div>
    </div>
    <div class="field">
      <%= form.label :city, class:'label' %>
      <div class='control'>
        <%= form.text_field :city, class:'input' %>
      </div>
    </div>
  <% end %>
  <div class="field">
    <div class='control'>
      <%= form.hidden_field :reward_id, value: reward.id, class: 'input', readonly: true %>
    </div>
  </div>

  <div class="actions container">
    <%= form.submit class: 'button is-primary' %>
  </div>
<% end %>
