<div class='title'>Orders</div>
<div class="dropdown is-hoverable is-pulled-right">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>Filter</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <%= link_to "All", orders_employee_path(current_employee.id), class: !params[:filter_by]? 'dropdown-item is-active': 'dropdown-item'%>
      <%= link_to "Delivered", orders_employee_path(current_employee.id,  filter_by: 'delivered'), class: params[:filter_by]=='delivered'? 'dropdown-item is-active': 'dropdown-item' %>
      <%= link_to "Awaiting Delivery", orders_employee_path(current_employee.id,  filter_by: 'awaiting_delivery'), class: params[:filter_by]=='awaiting_delivery'? 'dropdown-item is-active': 'dropdown-item'%>
    </div>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Order nr.</th>
      <th>Reward Title</th>
      <th>Reward Description</th>
      <th>Price</th>
      <th>Order date</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <% reward = Reward.from_json(order.reward)%>
      <tr>
        <td><%= order.id %></td>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.price %></td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

