<table>
  <thead>
    <tr>
      <th>Order NR.</th>
      <th>Reward Title</th>
      <th>Reward Description</th>
      <th>Price</th>
      <th>Time of Purchase</th>
      <th>Order Status</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <% reward = order.reward %>
      <tr>
        <td><%= order.id %></td>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= order.price %></td>
        <td><%= order.created_at %></td>
        <td><% if !order.delivered? %>
        <%= link_to "Deliver", admins_order_path(order), method: :patch, data: { confirm: "Are you sure?" } %>
        <% else %>
        Delivered
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

