<table>
  <thead>
    <tr>
      <th>Order NR.</th>
      <th>Reward Title</th>
      <th>Reward Description</th>
      <th>Price</th>
      <th>Time of Purchase</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
    <% reward = Reward.from_json(order.reward)%>
      <tr>
        <td><%= order.id %></td>
        <td><%= reward.title %></td>
        <td><%= reward.description %></td>
        <td><%= reward.price %></td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

